@font-face {
  font-family: "Inter";
  src: url(https://fonts.google.com/specimen/Inter);
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-width: 100%;
  min-height: 100%;
  overflow: auto;
}

body {
  position: fixed;
  overflow: scroll;
}

#root {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#root--theme-dark {
  background-color: hsl(230, 17%, 14%);
}
#root--theme-light {
  background-color: hsl(0, 0%, 100%);
}
@media only screen and (min-width: 550px) {
  #root {
    justify-content: start;
    align-items: start;
  }
}

.main {
  z-index: 10;
}
.main--theme-dark {
  background-color: hsl(230, 17%, 14%);
}
.main--theme-light {
  background-color: hsl(0, 0%, 100%);
}
@media only screen and (min-width: 550px) {
  .main {
    margin-top: -90px;
    padding: 0 3rem;
  }
}
@media only screen and (min-width: 550px) {
  .main__part-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 550px) {
  .main__part-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.box {
  min-height: 13rem;
  margin: 1rem;
}
.box--theme-dark {
  background-color: hsl(228, 28%, 20%);
}
.box--theme-light {
  background-color: hsl(227, 47%, 96%);
}
.box__overlay {
  width: 100%;
  height: 4px;
}
.box__overlay-facebook {
  background: hsl(208, 92%, 53%);
}
.box__overlay-twitter {
  background: hsl(203, 89%, 53%);
}
.box__overlay-instagram {
  background: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}
.box__overlay-youtube {
  background: hsl(348, 97%, 39%);
}
.box__content {
  width: 100%;
  margin-top: 2rem;
  display: grid;
  justify-content: center;
}
.box__content-id {
  margin-left: 1rem;
  position: static;
  left: 0px;
  top: -4px;
  bottom: 0px;
  right: 0px;
}
.box__content-id--theme-dark {
  color: hsl(228, 34%, 66%);
}
.box__content-id--theme-light {
  color: hsl(228, 12%, 44%);
}
.box__content-number {
  margin-top: 1rem;
  font-size: 50px;
  display: grid;
  justify-content: center;
  position: static;
  left: 5px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}
.box__content-number--theme-dark {
  color: hsl(0, 0%, 100%);
}
.box__content-number--theme-light {
  color: hsl(230, 17%, 14%);
}
.box__content-attribute {
  margin-top: 0.5rem;
  font-size: 12px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.box__content-attribute--theme-dark {
  color: hsl(228, 34%, 66%);
}
.box__content-attribute--theme-light {
  color: hsl(228, 12%, 44%);
}
.box__content-statistic {
  margin-top: 1rem;
  font-size: 10px;
  display: flex;
  justify-content: center;
}
.box__content-statistic:first-child {
  height: 10px;
  width: 10px;
  margin-right: 2px;
}
.box__content-statistic--color-up {
  color: hsl(163, 72%, 41%);
}
.box__content-statistic--color-down {
  color: hsl(356, 69%, 56%);
}
@media only screen and (min-width: 550px) {
  .box__content {
    padding: 1rem;
  }
}

.summary {
  margin: 1rem;
  position: relative;
}
.summary_bloc {
  min-height: 7rem;
  margin-top: 1rem;
  padding: 15px 0 0 0;
  display: flex;
  flex-wrap: wrap;
}
.summary_bloc-statistic {
  color: hsl(228, 34%, 66%);
  order: 1;
  flex-basis: 50%;
  position: relative;
  left: 30px;
  top: 10px;
  bottom: 0;
  right: 0;
}
.summary_bloc-statistic--theme-dark {
  color: hsl(228, 34%, 66%);
}
.summary_bloc-statistic--theme-light {
  color: hsl(228, 12%, 44%);
}
.summary_bloc-image {
  height: 1.5rem;
  max-width: 1.5rem;
  order: 2;
  flex-basis: 50%;
  position: relative;
  left: 90px;
  top: 10px;
  bottom: 0;
  right: 0;
}
.summary_bloc-number {
  font-weight: bolder;
  font-size: 30px;
  color: hsl(0, 0%, 100%);
  order: 3;
  flex-basis: 50%;
  position: relative;
  left: 30px;
  top: 10px;
  bottom: 0;
  right: 7px;
}
.summary_bloc-number--theme-dark {
  color: hsl(0, 0%, 100%);
}
.summary_bloc-number--theme-light {
  color: hsl(230, 17%, 14%);
}
.summary_bloc-rate {
  order: 4;
  flex-basis: 50%;
  position: relative;
  left: 90px;
  top: 20px;
  bottom: 0;
  right: 0;
}
.summary_bloc-rate--color-up {
  color: hsl(163, 72%, 41%);
}
.summary_bloc-rate--color-down {
  color: hsl(356, 69%, 56%);
}
.summary_bloc--theme-dark {
  background-color: hsl(228, 28%, 20%);
}
.summary_bloc--theme-light {
  background-color: hsl(227, 47%, 96%);
}

.switch {
  width: 60px;
  height: 30px;
  border-radius: 30px;
  margin-bottom: 25px;
  position: relative;
  display: inline-block;
  background-color: hsl(163, 72%, 41%);
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: auto;
  grid-row-end: auto;
}
@media only screen and (min-width: 550px) {
  .switch {
    margin-right: 1rem;
    position: absolute;
    left: -70px;
    top: 30px;
    bottom: 0;
    right: 0px;
  }
}
.switch__checkbox {
  width: 0;
  height: 0;
  opacity: 0;
}
.switch__slider {
  cursor: pointer;
  background-color: hsl(163, 72%, 41%);
  -webkit-transition: transform 0.4s;
  transition: transform 0.4s;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}
.switch__slider::before {
  content: "";
  width: 26px;
  height: 26px;
  -webkit-transition: transform 0.4s;
  transition: transform 0.4s;
  position: absolute;
  left: 4px;
  top: 2px;
  bottom: 4px;
  right: 0;
}
.switch__slider--round {
  border-radius: 36px;
}
.switch__slider--round::before {
  border-radius: 50%;
}
.switch__slider--theme-light::before {
  background-color: hsl(0, 0%, 100%);
}
.switch__slider--theme-dark::before {
  background-color: hsl(230, 17%, 14%);
}
@media only screen and (min-width: 550px) {
  .switch__slider {
    grid-column-start: 2;
    grid-column-end: auto;
    grid-row-start: 1;
    grid-row-end: auto;
  }
}
.switch__checkbox:checked + .switch__slider::before {
  transform: translateX(26px);
  -ms-transform: translateX(26px);
  -webkit-transform: translateX(26px);
}

.wrapper {
  width: 100vw;
  min-height: 10rem;
  margin-bottom: -2rem;
  border-radius: 0px 0px 25px 25px;
  z-index: 0;
  display: grid;
  justify-content: center;
  font-weight: bolder;
}
.wrapper--theme-dark {
  background-color: hsl(232, 19%, 15%);
}
.wrapper--theme-light {
  background-color: hsl(225, 100%, 98%);
}
@media only screen and (min-width: 550px) {
  .wrapper {
    position: relative;
    min-height: 12rem;
    margin-bottom: 0px;
    width: 100vw;
  }
}

.header {
  width: 85vw;
  min-height: 8rem;
  padding: 1.5rem 0rem 1.5rem 0rem;
  display: grid;
  justify-content: center;
  grid-template-columns: [fisrt] 75vw;
}
@media only screen and (min-width: 550px) {
  .header {
    width: 100vw;
    justify-content: start;
    grid-template-columns: [first] 50% [end] 50%;
  }
}
.header__title {
  padding-left: 13px;
}
.header__title--theme-dark {
  color: hsl(0, 0%, 100%);
}
.header__title--theme-light {
  color: hsl(230, 17%, 14%);
}
.header__title--position {
  padding-left: 0px;
}
@media only screen and (min-width: 550px) {
  .header__title--position {
    padding-left: 4rem;
  }
}
@media only screen and (min-width: 550px) {
  .header__title {
    width: 30rem;
    font-size: 30px;
    position: relative;
    grid-column-start: 1;
    grid-column-end: auto;
    grid-row-start: 1;
    grid-row-end: auto;
  }
}
.header__subtitle--theme-dark {
  color: hsl(228, 34%, 66%);
}
.header__subtitle--theme-light {
  color: hsl(228, 12%, 44%);
}
@media only screen and (min-width: 550px) {
  .header__subtitle {
    font-size: 20px;
  }
}
.header__subtitle--position {
  grid-column-start: 1;
}
@media only screen and (min-width: 550px) {
  .header__subtitle--position {
    padding-left: 4rem;
    grid-row-start: 1;
    position: relative;
    top: 40px;
  }
}
.header__subtitle--position-2 {
  width: 10rem;
  display: block;
  position: relative;
  left: -75vw;
  top: 6px;
  bottom: 0;
  right: 0;
}
@media only screen and (min-width: 550px) {
  .header__subtitle--position-2 {
    width: 110px;
    display: block;
    position: relative;
    left: -105px;
    top: 6px;
    bottom: 0;
    right: 0;
  }
}
.header__separator {
  height: 0rem;
  margin: 1rem 0rem 0rem 0rem;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: auto;
  grid-row-end: auto;
}
@media only screen and (min-width: 550px) {
  .header__separator {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
